<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/pap-lectores</property>
        <property name="hibernate.connection.username">lectoruy</property>
        <property name="hibernate.connection.password">pap12345</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Configuración del pool de conexiones -->
        <property name="hibernate.connection.pool_size">10</property>
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        
        <mapping class="lectoresuy.biblioteca.entidades.Usuario"/>
	    <mapping class="lectoresuy.biblioteca.entidades.Lector"/>
	    <mapping class="lectoresuy.biblioteca.entidades.Bibliotecario"/>
        <mapping class="lectoresuy.biblioteca.entidades.Material"/>
        <mapping class="lectoresuy.biblioteca.entidades.Libro"/>
        <mapping class="lectoresuy.biblioteca.entidades.Articulo"/>
	    <mapping class="lectoresuy.biblioteca.entidades.Prestamo"/>
    </session-factory>
</hibernate-configuration>
