<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">

    <display-name>Lectores Web Client</display-name>
    
    <!-- Welcome page -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GestionUsuariosServlet</servlet-name>
        <servlet-class>servlets.GestionUsuariosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionUsuariosServlet</servlet-name>
        <url-pattern>/gestionUsuarios</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GestionMaterialesServlet</servlet-name>
        <servlet-class>servlets.GestionMaterialesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionMaterialesServlet</servlet-name>
        <url-pattern>/gestionMateriales</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <servlet-class>servlets.EditarUsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <url-pattern>/editarUsuario</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditarMaterialServlet</servlet-name>
        <servlet-class>servlets.EditarMaterialServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditarMaterialServlet</servlet-name>
        <url-pattern>/editarMaterial</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AgregarMaterialServlet</servlet-name>
        <servlet-class>servlets.AgregarMaterialServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregarMaterialServlet</servlet-name>
        <url-pattern>/agregarMaterial</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FiltroMaterialesServlet</servlet-name>
        <servlet-class>servlets.FiltroMaterialesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FiltroMaterialesServlet</servlet-name>
        <url-pattern>/filtroMateriales</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GestionPrestamosServlet</servlet-name>
        <servlet-class>servlets.GestionPrestamosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionPrestamosServlet</servlet-name>
        <url-pattern>/gestionPrestamos</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AgregarPrestamoServlet</servlet-name>
        <servlet-class>servlets.AgregarPrestamoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregarPrestamoServlet</servlet-name>
        <url-pattern>/agregarPrestamo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditarPrestamoServlet</servlet-name>
        <servlet-class>servlets.EditarPrestamoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditarPrestamoServlet</servlet-name>
        <url-pattern>/editarPrestamo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MaterialesDataServlet</servlet-name>
        <servlet-class>servlets.MaterialesDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MaterialesDataServlet</servlet-name>
        <url-pattern>/materialesData</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginPageServlet</servlet-name>
        <servlet-class>servlets.LoginPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPageServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginProcess</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConsultasServlet</servlet-name>
        <servlet-class>servlets.ConsultasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultasServlet</servlet-name>
        <url-pattern>/consultas</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <!-- Authentication Filter -->
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>servlets.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>/index</url-pattern>
        <url-pattern>/gestionUsuarios</url-pattern>
        <url-pattern>/gestionMateriales</url-pattern>
        <url-pattern>/gestionPrestamos</url-pattern>
        <url-pattern>/editarUsuario</url-pattern>
        <url-pattern>/editarMaterial</url-pattern>
        <url-pattern>/editarPrestamo</url-pattern>
        <url-pattern>/agregarMaterial</url-pattern>
        <url-pattern>/agregarPrestamo</url-pattern>
        <url-pattern>/filtroMateriales</url-pattern>
        <url-pattern>/materialesData</url-pattern>
        <url-pattern>/consultas</url-pattern>
    </filter-mapping>

    <!-- Session Configuration -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- Error Pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>