# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear

# Log files
*.log
log/
logs/

# Temporary files
*~
*.swp
*.bak
*.tmp

# IDE-specific files
.idea/
.classpath
.project
.settings/
nbproject/
*.iml
*.iws
*.ipr

# Build tool specific files (Maven)
target/
pom.xml.tag
pom.xml.next
pom.xml.releaseBackup

# Build tool specific files (Gradle)
.gradle/
/build/
gradle-app.setting
!gradle-wrapper.jar # Don't ignore the wrapper jar

# Operating System files
.DS_Store
Thumbs.db